@media screen and (max-width:350px) {
    .card{
        .card-title{
            font-size: 20px;
            line-height: 25px;
        }
    }
    .view{
        flex-direction: column !important;
        gap: 10px;
    }
   
    
}